<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dunzoclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DunzoClone">
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".CartActivity"/>
        <activity
            android:name=".Activities.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.StoresActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LocationActivity"
            android:exported="true" />
        <activity android:name=".Activities.StoreCategoryActivity"></activity>
        <activity android:name=".Activities.EmptyCartActivity" />
        <activity android:name=".Activities.ProductDetailActivity"/>

        <activity android:name=".Activities.AdminActivity" />

        <activity android:name=".Activities.HomeActivity" >

        </activity>
        <activity android:name=".Activities.VerifyMobileActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.StoreCategoryActivity" />
        <activity android:name=".Activities.EmptyCartActivity" />
        <activity android:name=".Activities.ProductDetailActivity"></activity>
        <activity android:name=".Activities.EmptyOrderScreen" />
        <activity android:name=".Activities.UserProfileActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.VerifyMobileActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashScreen" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>